* { margin: 0; padding: 0; }
canvas{
background:#eee;
  position:fixed;
top:0;
left:0
}
#active{
position:fixed;
left:0;
bottom:0;
}
#active>#pen{
  display:none;
}
#active.x >#pen{
  display:inline-block;
}
#active.x>#eraser{
  display:none;
}
