* { margin: 0; padding: 0; }

body{
  position:relative;
}
#board{
display:block;
background:#eee;
position:absolute;
left:0;
top:0;
	z-index:-1;
}

#tool{
position:fixed;
left:10px;
top:20px;
font-size:1.4em;
z-index:999;
}
#tool>.active{
  font-size:1.2em;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   margin-left:15px;
   transition:all 0.2s;
}
.colorList{
	position:fixed;
	top:55px;
	left:23px;
	transition:all 0.2s;
	z-index:999;
}
.colorList ul li{
	display:block;
	width:20px;
	height:20px;
	margin:10px 0;
	border-radius:50%;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

#color-black{
	background:black;
}
#color-red{
	background:red;
}
#color-green{
	background:green;
}
#color-blue{
	background:blue;
}
.colorList>ul>.active{
  transform: scale(1.2);
  box-shadow: 0 0 4px rgba(0,0,0,0.9);
}
li{
	display:block;
}
ul{
	display:block;
}
